.profilepage-c {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
}

.profilepage-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    padding: 5vh 5vh 2vh 5vh;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 2vw;
}

.profilepage-menu>p {
    margin: 0;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;

}

.profilepage-menu>p:hover {
    color: white;
}



@media screen and (max-width:1400px) {

    .profilepage-menu {
        position: absolute;
        padding: 2vh;
        z-index: 1;
    }
}
