.browse {
    height: 100%;
    display: flex;
    justify-content: center;
}

.browse-users {
    flex: 7;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    margin: 7vh 0 5vh 0;
}

.browse-menus {
    flex:3;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10vh;
    overflow: auto;
    padding-left: 5vw;
    margin: 5vh 0 5vh 0;
}

.menusort-title {
    margin: 0 0 5px 0;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif ;
    font-weight: 600;
    color: white;
}


.userscollection-c {
    margin-top: 5vh;
}


.browse-slidemenu {
    position: absolute;
    display: flex;
    align-items: center;
    top: 2vw;
    right: 0;
    padding: 1vw 3vw 1vw 1vw;
    background-color: var(--purple2);
    border-radius: 5px;
    z-index: 2;
}

.browse-slidemenu-img {
    cursor: pointer;
    background-color: var(--blue1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    height: 40px;
    align-self: flex-end;
}

.browse-slidemenu-img:hover {
    background-color: var(--purple4);
}

@media screen and (max-width: 1150px) {
    .browse {
        flex-direction: column-reverse;
    }

    .browse-menus {
        height: 100%;
        width: 100%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: end;
        top: 0;
        right: 0;

        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
    }

    .browse-menus-c {
        padding: 2vh 2vw 5vh 2vw;
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-self: center;
        position: sticky;
        top: 0;
        right: 0;
        background-color: var(--purple1);
        border-radius: 10px 0 0 10px;
        justify-content: space-around;
    }
}


@media screen and (max-height: 900px)
{
    .browse-menus {
        top: 0;
    }
}

