.browsermenu {
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    gap: 20px
}

.option-text-container:hover {
    cursor: pointer;
    background-color: var(--blue3);
}

.option-text-container{
    background-color: var(--blue2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0px 15px;
    border-radius: 5px;
    display: flex;
    gap: 20px;
}

.option-text {
    color: white;
    font-size: var(--font-400);
}

.option-text-icon {
    height: 20px;
    width: 20px;
    align-self: center;
}

.option-container {    
    position: absolute;
    background-color: var(--blue3);
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 2;
    width: 300px;
}