.chatmenu {
    flex: 3;
    max-width: 30%;
    background-color: var(--blue1);
    border-radius: 5px 0 0 5px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    overflow: hidden;
    padding: 3%;
    gap: 20px;
}

.chatmenu-title {
    display: flex;
    align-items: center;
}

.chatmenu-title>h1 {
    text-align: start;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.chatmenu-search-c {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 20%;
}

.chatmenu-conversation-c {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}


.chatmenu-users {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    .chatmenu {
        width: 100%;
        max-width: none;
    }
    
}