:root {
    --font-xl: 3em;
    --font-m: 2.7em;
    --font-xs: 2.5em;
    --font-900: 2.2em;
    --font-800: 2em;
    --font-700: 1.8em;
    --font-600: 1.5em;
    --font-500: 1.2em;
    --font-400: clamp(14px, 1vw, 2em);

  --background-color: #20253a;

}


h1, 
h2,
h3,
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: var(--font-400);
}


.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #20253a;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-c {
  display: flex;
  height: 100%;
  width: 100%;
}

.app-phoneimg-c {
  flex: 1;
  display: flex;
  padding: 50px 0 0 70px;
  width: 100%;
}

.app-phoneimg {
  height: 30vw; 
  width: 30vw;
}

.app-usercarts-c {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5vh;
}

.app-carts-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  margin: 0 3vw 4vh auto;
}

.app-carts-text {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-400);
  color: white;
  margin: 5px 0;
  align-self: center;
  max-width: 350px;
  margin-bottom: 5vh;
  padding: 0 5px;
}


.app-carts {
  width: 35vw;
}

@media screen and (max-width: 1500px) {

  .app-carts {
    min-width: 400px;
  }
}


@media screen and (max-width: 900px) {
  .app-c {
    flex-direction: column;
    overflow: auto;
  }

  .app-phoneimg-c {
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .app-phoneimg {
    height: 50vw;
    width: 50vw;
  }

  .app-usercarts-c {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
  }

  .app-carts-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 0;
  }
  
  .app-carts {
    width: 60vw;
    min-width: 350px;
  }

}

@media screen and (max-width: 400px) {

  .app-carts {
    min-width: 200px;
  }

}