.iconinput {
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    background-color: var(--blue1);
    gap: 5px;
    width: 100%;
}


.iconinput-input {
    background-color: transparent;
    outline: none;
    border: none;
}

.iconinput-input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}