.input {
    width: 96%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #13182D;
    padding: 0 2%;

    caret-color: white;
    color: white;
    color: rgba(255, 255, 255);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    outline: none;
}

.input::placeholder {
    color: rgba(255, 255, 255);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


@media screen and (max-width: 400px) {

    .input {
        height: 50px;
    }
    
    .input::placeholder, #input {
        font-size: 12px;
    }
}