.userslist {
    justify-self: start;
    overflow: auto;
    display: flex;
    padding: 50px 0;
    width: 100%;
    justify-content: center;
    background-color: #00000066;
}

.userslist-users-c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    min-width: 80vh;
    min-height: 80%;
    height: fit-content;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.userslist-users-c1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userslist-no-users {
    color: rgb(250, 250, 250, 0.7);
    font-weight: 400;
    font-size: 14px;
}

.userslist-users {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    gap: 2vh;
}


@media screen and (max-width: 1200px) {
    .userslist {
        width: 100%;
    }

    .userslist-users {
        grid-template: 1fr / 1fr 1fr 1fr;
    }
}


@media screen and (max-width: 900px) {
    .userslist-users {
        grid-template: 1fr / 1fr 1fr;
        gap: 5px;
    }
}

@media screen and (max-width: 400px) {

    .userslist-users {
        grid-template: 1fr / 1fr;
    }

    .userslist-users-c {
        max-width: 250px;
    }
}